@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.hero1 {
  height: 35rem;
  background: url('./asset/stake.jpg')center/ cover no-repeat;
  display: flex;
}
.hero1 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  margin-top: 2rem;
} 
.hero1 .hero__title{
  color: #fff;
  font-size: 3.125rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.375rem;
}
.hero1 .fa {
  display: none;
}
/* .booking {
  padding: 5rem 0;
  background-color: #efefef;
}

.booking {
  position: relative;
}
.booking p {
  font-family: Courgette;
  align-items: center;
  margin-left: 500px;
  font-size: 30px;
  line-height: 1.2;
  color: #d61c22;
  position: absolute;
  left: 20%;
  top: 20px;
  padding: 1rem 0;
}
.bookh2 {
  font-family: Poppins;
  align-items: center;
  margin-left: 400px;
  margin-top: 40px;
  margin-bottom: 50px;
  font-size: 50px;
  font-weight: 700;
  line-height: 3.75rem;
  color: #222222;
  position: absolute;
  left: 20%;
  top: 20px;
  padding: 1rem 0;
}   */  
   /* The Booking has nothing to do with this contact form ✋🏻 */



.map {
  /* width: 100%;
  max-width: 1200px; */
  width: min(90%, 1120px);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
iframe{width: 100%;
  padding: 2rem;
  padding-top: 4rem;

}
.title-contact h1{
  font-weight: 500;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Montserrat";
  
}
.form__content{
  width: 100%;
  margin-right: 18rem;
  
}
.contact__btn{
  display: inline;
  justify-content: center;
  align-items: center;
  /* margin-left: 2.5rem; */
  background-color: black;
  width: 100%;
  width: 8.4375rem;
  height: 2.8rem;
  font-size: 0.75rem;
  font-weight: 400;
  font-family: "Montserrat";
  border-radius: 0.625rem;
  position: relative;
  color: white;
  /* margin: 2rem auto;*/
  margin-left: 15rem;
  margin-top: 2rem ;
  width: 220px;
  
}

.form-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
#comon{width: 250px;}
#area-1 {
  height: 150px;
  width: 100%;
  width: 1200px;
  /* margin-top: -200px;
    margin-left: 200px; */
}
.text-area {
 width: 100%;
  width: 750px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin:  0 auto;
}
label {font-family: "Poppins";}
.contact__footer {
  /* width: 100%; */
  width: min(90%, 1220px);
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:20px
}
.contact__item{
  padding: 6rem;
}
.contact__item h2{
  font-family: "Poppins";
  color:rgb(78, 71, 71);
  font-size: 1rem;
 
 }
 .contact__item p{
  font-family: "Montserrat";
  color:#666;
 }
.title-contact{
  padding: 2rem 0;
}
@media(max-width:48rem){
  .form__content{
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
 .form-row{
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 12rem;
 
 }
 .contact__btn{
  margin-left: 16rem;
  margin-top: 2rem ;

 }
 #comon{
  width: 350px;
  margin-right: 5rem;
 }
 .text-area{
  width: 100%;
  max-width: 380px;
  margin-left: 10rem;

 }
 .contact__footer{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  
 }
 
 .contact__footer .item1{
  margin-top: 8rem;
 }
 .contact__item{
  margin: 0;
  padding: 1.5rem;
 }
 .contact__item h2{
  font-family: "Poppins";
 
 }
 .contact__item p{
  font-family: "Montserrat";
 }
}
