@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  font-family: "Montserrat";
  width: 100%;
}
.container {
  width: min(90%, 1120px);
  margin-inline: auto;
}

.hero .fa {
  display: none;
}
.desktop__menu {
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 1.25rem 0;
  justify-content: space-around;
  align-items: center;
  padding: 0.625rem;
  position: fixed;
  cursor: pointer;
}
.menu__link {
  display: flex;
}
.menu__list {
  list-style: none;
  margin-left: 3.5rem;
}
.menu__list a {
  text-decoration: none;
  color: white;
  font-size: 0.878rem;
}
.social__media {
  color: white;
  display: flex;
  gap: 0.625rem;
}

.logo img {
  width: auto;
  max-height: 100%;
  vertical-align: middle;
}
nav .menu__link .menu__list:hover a {
  color: rgb(238, 62, 62);
}

.hero {
  height: 100vh;
  background: linear-gradient(rgba(79, 73, 73, 0.1), rgba(0, 0, 20, 0.1)),
    url("./asset/bg-title-page-02.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  margin-top: 2rem;
}
.hero span {
  font-family: "Courgette";
  font-size: 3.75rem;
  line-height: 1.1;
  color: white;
}
.hero h2 {
  font-family: "Poppins", sans-serif;
  font-size: 4.375rem;
  font-weight: 700;
  line-height: 1.1;
  text-transform: capitalize;
  letter-spacing: 0.625rem;
  word-spacing: 0.625rem;
  color: white;
  margin: 1.875rem 0;
}

.arraw {
  position: absolute;
  left: 70px;
  bottom: 50%;
  color: wheat;
  font-size: 1rem;
  background: black;
  opacity: 0.6;
  border-radius: 100%;
  padding: 1.25rem;
}
.arraw--right {
  position: absolute;
  right: 70px;
  bottom: 50%;
  color: wheat;
  font-size: 1.2rem;
  background: black;
  opacity: 0.6;
  border-radius: 100%;
  padding: 1.25rem;
}

.circles .fa {
  color: white;
  opacity: 0.5;
  font-size: 0.75rem;
}
.circles {
  width: 100%;
  display: flex;
  gap: 1.875rem;
  margin-top: 3.125rem;
  justify-content: center;
  align-items: center;
}
.circles .fa:hover {
  color: red;
  border: 0.1875rem solid white;
  border-radius: 100%;
}
.map {
  align-items: center;
  margin: 0 400px;
}

.title-contact {
  margin: 20px 20px;
  margin-left: 200px;
  padding-top: 50px;
  padding-bottom: 15px;
}

.booking__container {
  padding: 5rem 0;
  background-color: #efefef;
}

.booking__container {
  position: relative;
}
.booking__container p {
  font-family: Courgette;
  align-items: center;
  margin-left: 500px;
  font-size: 30px;
  line-height: 1.2;
  color: #d61c22;
  position: absolute;
  left: 20%;
  top: 20px;
  padding: 1.5rem 0;
}
.book_h2 {
  font-family: Poppins;
  align-items: center;
  margin-left: 400px;
  margin-top: 40px;
  margin-bottom: 50px;
  font-size: 50px;
  font-weight: 700;
  line-height: 3.75rem;
  color: #222222;
  position: absolute;
  left: 20%;
  top: 20px;
  padding: 1.5rem 0;
}

.form__content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  align-items: center;
  padding: 2.5rem 0;
  padding-left: 20px;
}
.form__content img {
  width: 100%;
  max-width: 400px;
  height: 480px;
  border-radius: 8px;
}
.form__content img:hover {
  transform: scale(0.9);
  cursor: pointer;
}
form {
  width: 100%;
  max-width: 500px;
  height: 400px;
  padding: 20px;
  /* border: 1px solid #ccc;
    border-radius: 10px; */
}
form input {
  padding: 1rem 0;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  color: #666666;
}
.form-row {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 16px; */
  gap: 10px;
  width: 700px;
}
.form-row > div {
  flex: 1;
  margin-right: 10px;
}
.form-row > div:last-child {
  margin-right: 0;
}
label {
  display: block;
  margin-bottom: 8px;
}
input,
select {
  width: 100%;
  padding: 1rem 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}
#area-1 {
  height: 150px;
  width: 800px;
  /* margin-top: -200px;
  margin-left: 200px; */
}
.text-area {
  margin-top: -300px;
  margin-left: 50px;
}

.contact-footer {
  display: flex;
  justify-content: space-around;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 100px;
}

.book__btn {
  display: inline;
  justify-content: center;
  align-items: center;
  margin-left: 2.5rem;
  background-color: black;
  width: 8.4375rem;
  height: 2.8rem;
  font-size: 0.75rem;
  font-weight: 400;
  font-family: "Montserrat";
  border-radius: 0.625rem;
  position: relative;
  color: white;
  margin-bottom: 1rem;
  margin-top: 3rem;
  margin-left: 8rem;
}
button:hover {
  background-color: rgb(219, 47, 47);
}
::placeholder {
  /* Edge 12-18 */
  color: #666666;
}

/* FOOTER SECTION  */
.footer__container {
  background: #222222;
  padding: 5rem 0;
}
.footer__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.single__footer--content {
  width: calc(100% / 3);
}
.footer__container h2 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}
.single__footer--content {
  padding: 0 3rem;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 13px;
  color: #999999;
  line-height: 1.7;
}
.social__icons .fa {
  padding: 1.2rem 0;
}
.single__footer--content .galary__items {
  padding: 3rem;
}
.red {
  color: red;
}
.copyright {
  width: 100%;
  height: 7.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50rem;
  align-items: center;
  padding: 2rem 0;

  background: #000;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: #999999;
}
.copyright p :hover {
  color: red;
  cursor: pointer;
}

/* Media quary for heaser moble,and desktop */
@media (max-width: 48rem) {
  .desktop__menu .menu__link {
    display: none;
  }
  .hero {
    width: 100%;
  }
  .arraw {
    left: 0;
    z-index: 1;
    opacity: 0.8;
  }
  .arraw--right {
    right: 0;
    opacity: 0.8;
    z-index: 1;
  }
}
/* media quary */
@media (max-width: 48rem) {
  .history__content {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 1.25rem;
  }
  .history__description {
    width: 100%;
    max-width: 50rem;
  }
  .history-image {
    width: 100%;
    flex: flex;
    flex-wrap: wrap;
  }
}
/* DISCOR */
@media (max-width: 48rem) {
  .discovery__card {
    width: 100%;
    flex-wrap: wrap;
  }
  .discovery__cards {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
/* ourMenu section*/
@media (max-width: 48rem) {
  .our__menu--card {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .our__menu__single--card {
    width: 100%;
  }
  .our__menu__single--card img {
    width: 100%;
    max-width: 75rem;
  }
  .menu-btn {
    width: 100%;
    max-width: 130px;
    text-align: center;
  }
}
/* drink hurs and events */
@media (max-width: 48rem) {
  .event__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .event__content img,
  .drink__hours {
    width: 100%;
  }
  form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
    padding-top: 2rem;
  }
  form input {
    width: 100%;
  }
  .video__cover--content h2 {
    text-align: center;
    font-size: 2.2rem;
  }
  /* sign up */
  .news__signUp {
    width: 100%;
    flex-direction: column;
  }
  #input__sign {
    margin: 20px 0;
    width: 100%;
    max-width: 350px;
  }
}

/* FOOTER MEDIA QUARY */
@media (max-width: 48rem) {
  .footer__container {
    width: 100%;
    /* flex-direction: column; */
  }
  .single__footer--content {
    width: 100%;
    max-width: 43.75rem;
    justify-content: center;
    align-items: center;
  }
  .copyright {
    width: 100%;
    gap: 5rem;
  }
}
